@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    --dark:#040d04;
    --main-white:#f0f8ff;
    --white:#ffffff;
    --main-green:#09b409;
}
body{
    background-color: var(--main-white);
    font-family: "ubuntu" !important;
}