.text-card,
.count {
    background-color: var(--dark);
    color: var(--main-white);
    border-radius: 5px;

}

.count {
    font-family: monospace;
}
.card{
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}
.card:hover{
    border: 1px groove rgba(0, 0, 0, 0.7);
}